In [2]:
print("Hello , Python!")

Hello , Python!

In [3]:
name= "Doha Alsharif"
print(name[0])

D

In [4]:
print(name[6])

l

In [7]:
print(name[0:4])

Doha

In [11]:
tuple1= ("Group5",441,442,443,444,445,)
type(tuple1)

tuple

In [13]:
print(tuple1[0])
print(tuple1[1])
print(tuple1[2])
print(tuple1[3])
print(tuple1[4])

Group5
441
442
443
444

In [2]:
A = ["Doha",10.0,2002]
print(A)

['Doha', 10.0, 2002]

In [4]:
print(A[0],A[2])

Doha 2002

In [5]:
print(A[-2])

10.0

In [6]:
names=["Doha","hams","sharifa","shahd","rodina"]
N = len(names)

for i in range(N):
    print(names[i])

Doha
hams
sharifa
shahd
rodina

In [7]:
2*2

4

In [8]:
a=10.5
b=10
print( a*b)

105.0

In [9]:
x=10+10
print (20/x)

1.0